html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: black;
  --second-color: white;
  --help-color: gray;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

.input-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="text"] {
  display: flex;
  border: 3px solid var(--help-color);
  border-radius: 10px;
  width: 80%;
}

input:focus {
  border-color: var(--primary-color);
}

button {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--second-color);
}

.todo-element {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--second-color);
}

.todo-element[data-completed="true"] {
  background-color: var(--help-color);
  text-decoration: line-through;
}
