html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: black;
  --second-color: white;
  --help-color: gray;
  --overdue-color: red;
  --preoverdue-color: orange;
  --soon-due-color: yellow;
  --not-soon-due-color: green;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 12rem;
  padding-bottom: 15rem;
}

h1 {
  text-align: center;
  font-size: 50px;
}
.input-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

input[type="text"] {
  display: flex;
  border: 3px solid var(--help-color);
  border-radius: 10px;
  width: 80%;
  height: 35px;
  font-size: large;
}

input:focus {
  border-color: var(--primary-color);
}

button {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--second-color);
  text-decoration: none;
}

#todo-elements {
  padding: 5px;
  border: 5px solid var(--help-color);
  border-radius: 30px;
}

#todo-elements:empty {
  display: none;
}

.todo-element {
  display: flex;
  margin: 5px;
  padding: 5px;
  min-height: 30px;
  max-height: 50px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--second-color);
  font-size: large;
  justify-content: space-between;
}

.todo-element__label {
  align-content: center;
  max-width: 500px;
  flex: 1;
}

#overdue-message {
  padding: 1rem 2rem;
  display: flex;
  background-color: var(--overdue-color);
  color: var(--second-color);
  white-space: pre-line;
  border: 3px solid var(--help-color);
  border-radius: 10px;
  font-size: large;
  font-weight: 700;
  width: 60rem;
  position: absolute;
}
#overdue-message:empty {
  display: none;
}

.todo-element[data-completed="true"] {
  background-color: var(--help-color);
}

.todo-element[data-completed="true"] .todo-element__text {
  text-decoration: line-through;
}

.todo-element[data-completed="true"] button[data-action="remove"] {
  background-color: var(--help-color);
}

.todo-element[data-urgency="critical"] {
  background-color: var(--overdue-color);
}

.todo-element[data-urgency="high"] {
  background-color: var(--preoverdue-color);
}

.todo-element[data-urgency="medium"] {
  background-color: var(--soon-due-color);
  color: var(--primary-color);
}

.todo-element[data-urgency="low"] {
  background-color: var(--not-soon-due-color);
}

#delete-all {
  margin-top: 1rem;
  align-self: center;
}

#categories-dialog:open {
  display: flex;
  align-self: center;
  flex-direction: column;
}

#categories-dialog-control-container {
  display: flex;
  justify-content: space-between;
}

.categorie-element {
  padding: 1rem;
  display: flex;
}

.categorie-element {
  padding: 1rem;
  display: flex;
}
